In [3]:
import pandas as pd
import glob

In [4]:
# Input a path to my Git Folder which contains the CSVs

path = (r"C:\Users\RebekahDSK\Desktop\Project_1_Moving_Violations\2019 Monthly CSVs")
CSVFiles = glob.glob(path + "/*.csv")

In [5]:
# Create a list to hold data from all 2019 CSV files

list_data = []

In [6]:
# Create a loop which adds each CSV file in the 'Path' folder into the 'list_data' list

for filename in CSVFiles:
    df = pd.read_csv(filename, index_col=None, header=0)
    list_data.append(df)

C:\Users\RebekahDSK\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\RebekahDSK\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\RebekahDSK\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [15]:
twozeroonenine_df = pd.concat(list_data, axis=0, ignore_index=True)
twozeroonenine_df.head(5)

,OBJECTID,LOCATION,XCOORD,YCOORD,ISSUE_DATE,ISSUE_TIME,ISSUING_AGENCY_CODE,ISSUING_AGENCY_NAME,ISSUING_AGENCY_SHORT,VIOLATION_CODE,...,LATITUDE,LONGITUDE,MAR_ID,GIS_LAST_MOD_DTTM,DRV_LIC_STATE,DOB_YEAR,VEH_YEAR,VEH_MAKE,TICKET_NUMBER,VIOLATION_TYPE_DESC
0,8730,1400 BRANCH AVE SE,403440.57,133762.28,2019/04/29 04:00:00+00,1:30:00,6.0,METROPOLITAN POLICE DPT-DISTRICT 6,MPD-6D,T043,...,38.872,-76.96,307585.0,2020/09/30 03:44:25+00,DC,1985.0,NaN,CHRY,NaN,NaN
1,8731,I-295 ANACOSTIA FWY,NaN,NaN,2019/04/01 04:00:00+00,9:55:00,6.0,METROPOLITAN POLICE DPT-DISTRICT 6,MPD-6D,T043,...,NaN,NaN,NaN,2020/09/30 03:44:25+00,DC,1972.0,NaN,HOND,NaN,NaN
2,10053,I 395 N/B HOV BRIDGE SW,NaN,NaN,2019/04/18 04:00:00+00,4:20:00,1.0,METROPOLITAN POLICE DPT-DISTRICT 1,MPD-1D,T335,...,NaN,NaN,NaN,2020/09/30 03:44:25+00,VA,1987.0,NaN,MAZD,NaN,NaN
3,10054,1000 6TH ST NW,398273.55,137243.91,2019/04/23 04:00:00+00,3:00:00,1.0,METROPOLITAN POLICE DPT-DISTRICT 1,MPD-1D,T335,...,38.903,-77.02,807095.0,2020/09/30 03:44:25+00,DC,1993.0,NaN,TOYO,NaN,NaN
4,10055,1000 6TH ST NW,398273.55,137243.91,2019/04/23 04:00:00+00,3:00:00,1.0,METROPOLITAN POLICE DPT-DISTRICT 1,MPD-1D,T667,...,38.903,-77.02,807095.0,2020/09/30 03:44:25+00,DC,1993.0,NaN,TOYO,NaN,NaN